<!-- templates/common_user/admin_dashboard.html -->
{% extends 'common_user/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">HR Management</h5>
                <p class="card-text">Manage employees, departments, positions, and more.</p>
                <a href="{% url 'hrms:hr_dashboard' %}" class="btn btn-primary">Go to HR Dashboard</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Store Management</h5>
                <p class="card-text">Manage inventory, purchases, issues, and suppliers.</p>
                <a href="{% url 'store_dashboard' %}" class="btn btn-primary">Go to Store Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
