<!-- templates/inventory/issue_record_detail.html -->
{% extends 'store_base.html' %}

{% block title %}Issue Record Details{% endblock %}

{% block content %}
<h1>Issue Record Details</h1>
<p><strong>Voucher Number:</strong> {{ issue_record.voucher_number }}</p>
<p><strong>Date:</strong> {{ issue_record.date }}</p>
<p><strong>Department:</strong> {{ issue_record.department }}</p>
<p><strong>Issued By:</strong> {{ issue_record.issued_by }}</p>
<p><strong>Received By:</strong> {{ issue_record.received_by }}</p>
<p><strong>Total Amount:</strong> {{ issue_record.total_value }}</p>


<h3>Items</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for item in issue_record.items.all %}
        <tr>
            <td>{{ item.item.description }}</td>
	    <td>{{ item.quantity }} {{ item.item.unit_of_measurement }}</td>
            <td>{{ item.unit_price }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'issue_record_list' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}
