{% extends 'store_base.html' %}

{% block title %}New Item{% endblock %}

{% block content %}
<div class="container col-md-6">
<h2>{% if form.instance.pk %}Edit {{ form.instance.description }}{% else %}Add New Item{% endif %}</h2>
<form method="post" class="mb-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'item_list' %}" class="btn btn-secondary" style="margin-left: 0.25em;">Cancel</a>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    $('#id_category').change(function () {
        var url = "{% url 'ajax_load_subcategories' %}";  // get the url of the `load_subcategories` view
        var categoryId = $(this).val();  // get the selected category ID from the HTML input
        if (categoryId) {  // only make the AJAX call if categoryId is not empty
            $.ajax({                       // initialize an AJAX request
                url: url,
                data: {
                    'category_id': categoryId  // add the category id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_subcategories` view function
                    $("#id_subcategory").html('');  // clear the existing options in the subcategory field
                    $.each(data, function (key, value) {
                        $("#id_subcategory").append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });
        } else {
            $("#id_subcategory").html('');  // clear the existing options if no category is selected
        }
    });
});

</script>

{% endblock %}
