<!-- templates/purchase_report.html -->
{% extends 'store_base.html' %}
{% load humanize %}
{% block content %}
<h1>Purchase Report</h1>

<form method="get">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Generate Report</button>
</form>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Item</th>
            <th>Total Quantity Purchased</th>
            <th>Monetary Value</th>
        </tr>
    </thead>
    <tbody>
        {% for data in report_data %}
        <tr>
            <td>{{ data.item_description }}</td>
            <td>{{ data.total_quantity|intcomma }}</td>
            <td>${{ data.total_value|intcomma }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No records found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
