{% extends "store_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
  <div class="container col-md-6">
  <h2>New Purchase Record</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {{ formset.management_form }}
    <h3>Items</h3>
    <div id="formset-container">
      {% for form in formset %}
        <div class="formset-item">
          {{ form|crispy }}
          <button type="button" class="remove-item btn btn-warning">Remove</button>
        </div>
      {% endfor %}
    </div>
    <div>
    <button type="button" id="add-item" class="btn btn-info mt-4">Add Item</button>
    <button type="submit" class="btn btn-primary mt-4 ml-2">Save</button>
    <a href="{% url 'purchase_record_list' %}" class="btn btn-secondary mt-4" style="margin-left: 2.50em;">Back</a>
    </div>
  </form>
  </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let formsetContainer = document.getElementById('formset-container');
      let addItemButton = document.getElementById('add-item');
      let totalForms = document.querySelector('#id_items-TOTAL_FORMS');
      let formsetPrefix = 'items';

      function updateElementIndex(el, prefix, index) {
        let idRegex = new RegExp('(' + prefix + '-\\d+-)');
        let replacement = prefix + '-' + index + '-';
        if (el.getAttribute('for')) el.setAttribute('for', el.getAttribute('for').replace(idRegex, replacement));
        if (el.id) el.id = el.id.replace(idRegex, replacement);
        if (el.name) el.name = el.name.replace(idRegex, replacement);
      }

      function addForm(formsetContainer, formsetPrefix) {
        let newFormIndex = formsetContainer.children.length;
        let newForm = document.createElement('div');
        newForm.classList.add('formset-item');
        newForm.innerHTML = formsetContainer.children[0].innerHTML.replace(/__prefix__/g, newFormIndex);
        formsetContainer.appendChild(newForm);
        totalForms.value = formsetContainer.children.length;
        let formFields = newForm.querySelectorAll('input, select, textarea, button');
        formFields.forEach(function(field) {
          updateElementIndex(field, formsetPrefix, newFormIndex);
        });
        newForm.querySelector('.remove-item').addEventListener('click', function() {
          newForm.remove();
          updateTotalForms();
        });
      }

      function updateTotalForms() {
        totalForms.value = formsetContainer.children.length;
        let formsetItems = formsetContainer.querySelectorAll('.formset-item');
        formsetItems.forEach((form, index) => {
          let formFields = form.querySelectorAll('input, select, textarea, button');
          formFields.forEach((field) => {
            updateElementIndex(field, formsetPrefix, index);
          });
        });
      }

      addItemButton.addEventListener('click', function() {
        addForm(formsetContainer, formsetPrefix);
      });

      document.querySelectorAll('.remove-item').forEach(button => {
        button.addEventListener('click', function() {
          button.parentElement.remove();
          updateTotalForms();
        });
      });
    });
  </script>
{% endblock %}
