{% extends 'employee_management/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
    .education-box {
        display: inline-block;
        width: 130px;
        height: 70px;
        margin: 0px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .education-box p {
        margin: 0;
        padding: 0;
    }
</style>

<div class="container">
	<div class="row">
        <div class="col-md-12 text-center">
            <h1>Total Employees: {{ total_employees }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-bg-dark mb-3">
                    Gender Distribution
                </div>
                <div class="card-body">
                    <canvas id="genderChart" width="150" height="150"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-bg-dark mb-3">
                    COC Certified Distribution
                </div>
                <div class="card-body">
                    <canvas id="cocChart" width="150" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-bg-dark mb-3">
                    Department Distribution Histogram
                </div>
                <div class="card-body">
                    <canvas id="departmentHistogram" width="500" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-bg-dark mb-3">
                    Education Level Distribution
                </div>
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-around">
                        {% for data in education_data %}
                        <a href="{% url 'employee_list' %}?education={{ data.education_level }}" class="education-box" style="background-color: {{ data.color }}">
                            <i class="department-icon fas fa-graduation-cap"></i>
                            <p style="font-weight: bold; color: black;">{{ data.education_level }}</p>
                            <p style="color: black;">{{ data.count }} Employees</p>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-bg-dark mb-3">
                    Birthday Notification
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for employee in upcoming_birthdays %}
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <span>{{ employee.first_name }} {{ employee.middle_name }}</span>
                                <span>{{ employee.gregorian_date_of_birth }}</span>
                            </div>
                        </li>
                        {% empty %}
                        <li class="list-group-item">No upcoming birthdays</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Gender Chart
        var genderLabels = ['Male', 'Female'];
        var genderCounts = [{{ male_count }}, {{ female_count }}];

        var genderCtx = document.getElementById('genderChart').getContext('2d');
        new Chart(genderCtx, {
            type: 'doughnut',
            data: {
                labels: genderLabels,
                datasets: [{
                    label: 'Employees by Gender',
                    data: genderCounts,
                    backgroundColor: ['rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)'],
                    borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: false,
                        text: 'Employees by Gender'
                    }
                }
            }
        });

        // COC Certified Chart
        var cocLabels = ['Certified', 'Not Certified'];
        var cocCounts = [{{ coc_certified_count }}, {{ coc_not_certified_count }}];

        var cocCtx = document.getElementById('cocChart').getContext('2d');
        new Chart(cocCtx, {
            type: 'doughnut',
            data: {
                labels: cocLabels,
                datasets: [{
                    label: 'COC Certified Distribution',
                    data: cocCounts,
                    backgroundColor: ['rgba(54, 162, 235, 0.5)', 'rgba(255, 99, 132, 0.5)'],
                    borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: false,
                        text: 'COC Certified Distribution'
                    }
                }
            }
        });

        // Department Histogram
        var departmentLabels = [];
        var departmentCounts = [];

        {% for data in department_data %}
            departmentLabels.push("{{ data.department__name }}");
            departmentCounts.push({{ data.employee_count }});
        {% endfor %}

        var departmentCtx = document.getElementById('departmentHistogram').getContext('2d');
        new Chart(departmentCtx, {
            type: 'bar',
            data: {
                labels: departmentLabels,
                datasets: [{
                    label: 'Employees by Department',
                    data: departmentCounts,
                    backgroundColor: ['#3e95cd', '#8e5ea2', '#3cba9f', '#e8c3b9', '#c4decc'],
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: false,
                        text: 'Employees by Department'
                    }
                }
            }
        });

    });
</script>
{% endblock %}
