{% extends 'employee_management/base.html' %}

{% block title %}
    {% if employee %}Edit Employee{% else %}Add Employee{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center">
        {% if employee %}Editing Employee{% else %}Add Employee{% endif %}
    </h3>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.first_name.label }}
                                {{ form.first_name }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.middle_name.label }}
                                {{ form.middle_name }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.last_name.label }}
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.gender.label }}
                                {{ form.gender }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.mobile.label }}
                                {{ form.mobile }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.email.label }}
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                {{ form.department.label }}
                                {{ form.department }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.position.label }}
                                {{ form.position }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                {{ form.date_of_birth.label }}
                                {{ form.date_of_birth }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.hire_date.label }}
                                {{ form.hire_date }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                {{ form.salary.label }}
                                {{ form.salary }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.education_level.label }}
                                {{ form.education_level }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-7">
                                {{ form.address.label }}
                                {{ form.address }}
                            </div>

                            <div class="form-group col-md-5">
                                {{ form.pension_number.label }}
                                {{ form.pension_number }}
                            </div>                         
                        </div>

                        <div class="row">                                                
                            <div class="form-group col-md-6">
                                {{ form.emergency_contact_name.label }}
                                {{ form.emergency_contact_name }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form.emergency_contact_phone.label }}
                                {{ form.emergency_contact_phone }}
                            </div>  
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    {{ form.is_coc_certified }}
                                    {{ form.is_coc_certified.label }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    {{ form.is_active }}
                                    {{ form.is_active.label }}
                                </div>
                            </div>
                        </div>

                            <div class="form-group col-md-9">
                                {{ form.picture.label }}
                                {{ form.picture }}
                            </div>
                        
                        <hr>
                        <div class="row mt-3">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">
                                    {% if employee %}Save Changes{% else %}Register Employee{% endif %}
                                </button>
                                <a href="{% url 'employee_list' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
