/* static/css/login_style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container form {
    display: flex;
    flex-direction: column;
}
.login-container .form-group {
    margin-bottom: 15px;
}
.login-container .btn {
    width: 100%;
}
.login-container .form-text {
    text-align: center;
}

